[
	{
		"name": "US",
		"id": "us",
		"games": [
			{
				"type": "1",
				"id": "ffa1",
				"name": "Free For All #1",
				"nameShort": "FFA #1",
				"host": "127.0.0.1:3501",
				"path": ""
			}
		]
	}
]
